# System files
**.swp
*.sw*
.DS_Store

# Dependencies
node_modules/

# Editor files
/.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Log files
*.log

# Build
dist/

# Yarn
yarn.lock

# Other
/uploads
/server/images
/test-uploads
/client
.env

/package-lock.json